.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6277f3;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
  }
  
  .download-link:hover {
    background-color: #d5e967;
  }
  .video-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.video-item video {
    width: 100%;
    height: auto;
}
.video-title {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #f9f9f9;
}